.vo {
    font-size: 16px;
}
.pai {
    font-size: 50px;
    width: 100vw;
    height: 100vh;
    background: #0000ff;
    color: aliceblue;
}

.filho{
    width: 50%;
    height: 50%;
    background: red;
    color: aliceblue;
    font-size: 2rem;
}
/*
Unidades de medidas 

-->
ABSOLUTAS
px(Pixels)
in(inches/polegadas)
cm/mm (centimetro/ milimetro)

--> RELATIVAS
% calcula o tamanho relativo ao elemento pai
vw (viwe width ) 1vw é 1% da largura da janela do navegador
vh (view height) 1vw é 1% da altura da janela do navegador
em é uma unidade relativa ao elemento pai
rem é uma unidade relativa ao elemento raiz
*/